@use "../../core/visually-hidden";

.standalone-layout {
  display: flex;
  height: 100vh;
}

.standalone-view {
  flex: 1 1 auto;
  overflow: auto;
}

.visually-hidden {
  @include visually-hidden.visually-hidden;
}
